Repository Slo1024/ssafy-livon-ai-healthcoach: changes, and which Jenkins stages are due for each by the changed paths.
All: Deploy BE, Deploy FE

Path conditions:
  Deploy BE: any of: LivOnBack/**
  Deploy FE: any of: LivOnFront/web/**

[infra] fix: Jenkinsfile: BE/FE 스테이지에 PROJECT 변수 추가, docker compose -p ${PROJECT} 적용, test: BE, FE - build test
  Jenkinsfile
  LivOnBack/src/main/java/com/s406/livon/LivOnApplication.java
  LivOnFront/web/public/index.html
Due: Deploy BE, Deploy FE

[front] style: ì 스트리밍 가련 불í요한코드 삭제 및 수정
  LivOnFront/mobile/app/build.gradle.kts
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/streaming/ui/InsertToRoom.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/streaming/ui/JointRoomScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/streaming/ui/ParticipantVideoView.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/streaming/vm/LiveSteamingViewModel.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/streaming/Urls.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/PreviewComponent.kt
  LivOnFront/mobile/app/src/main/res/xml/network_security_config.xml
Due: none

[infra] fix: Deploy FE 단계에 docker compose -p ... up -d --build nginx 추가, test: FE - build test
  Jenkinsfile
  LivOnFront/web/public/index.html
Due: Deploy FE

[infra] fix: file→file mount x / directory→directory 수정 - 안정화 edits 적용
  LivOnFront/web/public/index.html
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
  LivOnInfra/nginx.dev.d/default.conf
  LivOnInfra/nginx.prod.d/default.conf
Due: Deploy FE

[infra] fix: file→file mount x / directory→directory 수정 - 안정화 edits 적용, test: nginx container build test
  LivOnFront/web/public/index.html
  LivOnInfra/nginx.dev.d/default.conf
  LivOnInfra/nginx.prod.d/default.conf
Due: Deploy FE

[back] refactor: 유지보수성과 타입 안정성을 위한 타입 수정
  LivOnBack/src/main/java/com/s406/livon/domain/coach/controller/CoachController.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/dto/request/GroupConsultationUpdateRequestDto.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/service/GroupConsultationService.java
  LivOnBack/src/main/java/com/s406/livon/domain/user/dto/request/SignUpDto.java
  LivOnBack/src/main/java/com/s406/livon/domain/user/dto/response/MyInfoResponseDto.java
  LivOnBack/src/main/java/com/s406/livon/domain/user/entity/User.java
Due: Deploy BE

[infra] fix: nginx config 설정 추가, docker compose prod - certbot 설정 추가
  LivOnInfra/docker-compose.prod.yml
  LivOnInfra/nginx.dev.d/default.conf
Due: none

[infra] test: nginx container build test
  LivOnFront/web/public/index.html
Due: Deploy FE

[infra] test: nginx ssl 설정 test
  LivOnInfra/docker-compose.prod.yml
Due: none

[infra] test: FE - nginx ssl 설정 확인
  LivOnFront/web/public/index.html
Due: Deploy FE

[infra] test: nginx ssl 설정 - dev
  LivOnInfra/docker-compose.dev.yml
Due: none

[back] refactor: 예외 검증 로직 추가, Bean Validation 적용
  LivOnBack/src/main/java/com/s406/livon/domain/coach/controller/CoachController.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/repository/GroupConsultationRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/service/CoachService.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/service/GroupConsultationService.java
  LivOnBack/src/main/java/com/s406/livon/domain/user/service/UserService.java
  LivOnBack/src/main/java/com/s406/livon/global/error/ExceptionAdvice.java
  LivOnBack/src/main/java/com/s406/livon/global/web/response/code/status/ErrorStatus.java
Due: Deploy BE

[infra] fix: nginx - docker compose dev, prod volumes 설정, test: FE - nginx ssl 설정 확인
  LivOnFront/web/public/index.html
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
  LivOnInfra/nginx.dev.d/default.conf
  LivOnInfra/nginx.prod.d/default.conf
Due: Deploy FE

[front] feat: 회원가입 공통 화면 레이아웃 수정 (그룹 A, 그룹 B)
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/auth/ui/CoachInfoAffiliationScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/auth/ui/CoachInfoCertificateScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/auth/ui/CoachInfoIntroductionScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/auth/ui/CoachInfoJobScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/CommonSignUpScreenA.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/CommonSignUpScreenB.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/GenderSelectScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/HealthInfoConditionScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/HealthInfoHeightScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/HealthInfoMedicationScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/HealthInfoPainDiscomfortScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/HealthInfoSleepQualityScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/HealthInfoStressScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/HealthInfoWeightScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/LifestyleActivityLevelScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/LifestyleAlcoholIntakeScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/LifestyleCaffeineIntakeScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/LifestyleSleepDurationScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/LifestyleSmokingScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/PrimaryButton.kt
Due: none

[front] feat: 스트리밍 컴포넌트 생성
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/CheatingBar.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/CoachCheatingNotice.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/PreviewComponent.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/SearchBar.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/StreamingCheatingHeader.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/StreamingCheatingProfile.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/StreamingMemberDetail.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/StreamingParticipantHeader.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/StreamingParticipantProfile.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/theme/Color.kt
  LivOnFront/mobile/app/src/main/res/drawable/cancle.xml
  LivOnFront/mobile/app/src/main/res/drawable/search.xml
  LivOnFront/mobile/app/src/main/res/drawable/send.xml
  LivOnFront/mobile/app/src/main/res/xml/network_security_config.xml
Due: none

[front] feat: 건강 정보 입력 화면 레이아웃 설정
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/HealthInfoConditionScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/SurveyOption.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/text/Texts.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/theme/TextStyes.kt
Due: none

[infra] test: FE - nginx ssl 설정 EC2 nginx.dev.conf 디렉터리 폴더 삭제
  LivOnFront/web/public/index.html
Due: Deploy FE

[back] feat: MongoDB 마이그레이션 완료 및 테스트코드 검증
  LivOnBack/src/test/java/com/s406/livon/GoodsChatDataGeneratorTest.java
  LivOnBack/src/test/java/com/s406/livon/GoodsChatMessagePerformanceTest.java
  LivOnBack/src/test/java/com/s406/livon/GoodsChatMongoPerformanceTest.java
Due: Deploy BE

[infra] test: FE - nginx ssl 설정 EC2 nginx.dev.conf 디렉터리 폴더 삭제, fix: jenkinsfile - dir('LivOnInfra') 추가(정확한 위치 실행)
  Jenkinsfile
  LivOnFront/web/public/index.html
Due: Deploy FE

[infra] test: FE - nginx ssl 설정 확인, fix: jenkinsfile - dir('LivOnInfra') 제거
  Jenkinsfile
  LivOnFront/web/public/index.html
Due: Deploy FE

[infra] test: FE - nginx ssl 설정 확인, fix: jenkinsfile --project-directory LivOnInfra 추가
  Jenkinsfile
Due: none

[infra] test: FE - nginx ssl 설정 확인, fix: jenkinsfile - jenkins 권한 부여
  Jenkinsfile
  LivOnFront/web/public/index.html
Due: Deploy FE

[back] feat: No offset 으로 채팅 조회
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/controller/GoodsChatRoomController.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/repository/GoodsChatMessageRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/repository/GoodsChatMessageRepositoryCustom.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/repository/GoodsChatMessageRepositoryCustomImpl.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatService.java
  LivOnBack/src/test/java/com/s406/livon/GoodsChatMongoPerformanceTest.java
Due: Deploy BE

[infra] test: FE - nginx ssl 설정 확인, fix: jenkinsfile - Nginx 컨피그 파일/디렉터리 자동 정리 및 복원 로직 추가, sudo 제거
  Jenkinsfile
  LivOnFront/web/public/index.html
Due: Deploy FE

[front] feat: 이메일 회원가입 화면 구현
  LivOnFront/web/src/components/layout/Header.tsx
  LivOnFront/web/src/constants/routes.ts
  LivOnFront/web/src/pages/coach/MyPageInfoPage.tsx
  LivOnFront/web/src/pages/coach/SignupPage.tsx
  LivOnFront/web/src/routes/AppRouter.tsx
  LivOnFront/web/src/routes/ProtectedRoute.tsx
Due: Deploy FE

[front] feat: 생활습관 입력 화면 레이아웃 설정
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/HealthInfoConditionScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/HealthInfoMedicationScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/HealthInfoPainDiscomfortScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/HealthInfoSleepQualityScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/LifestyleActivityLevelScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/LifestyleAlcoholIntakeScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/LifestyleCaffeineIntakeScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/LifestyleSleepDurationScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/LifestyleSmokingScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/SurveyOption.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/overlay/TopBar2.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/text/Texts.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/theme/TextStyes.kt
Due: none

[infra] test: FE - nginx ssl 설정 확인, fix: jenkinsfile - Nginx 컨피그 파일/디렉터리 자동 정리 및 복원 로직 제거
  Jenkinsfile
  LivOnFront/web/public/index.html
Due: Deploy FE

[front] feat: N명 스트리밍 접속 시 화면 UI 구성
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/streaming/ui/LiveStreamingCoachScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/streaming/RoomLayoutActivity.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/MemberStreamingCamera.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/PreviewComponent.kt
  LivOnFront/mobile/app/src/main/res/drawable/information.xml
  LivOnFront/mobile/app/src/main/res/xml/network_security_config.xml
Due: none

[front] feat: 스트리밍 참가자, 채팅 화면 버튼 연결
  LivOnFront/mobile/.gitignore
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/streaming/ui/LiveStreamingCoachScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/streaming/ui/StreamingCheating.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/streaming/ui/StreamingParticipant.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/CoachStreamingHeader.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/PreviewComponent.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/StreamingParticipantProfile.kt
Due: none

[front] feat: 스트리밍 참가자 건강 정보 버튼 연결
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/streaming/ui/LiveStreamingCoachScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/MemberStreamingCamera.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/StreamingCamera.kt
Due: none

[front] ìchore: coil dependencies 수정
  LivOnFront/mobile/app/build.gradle.kts
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/HealthInfoHeightScreen.kt
  LivOnFront/mobile/gradle/libs.versions.toml
Due: none

[front] feat: 스트리밍 nav 버튼 동작 구현
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/streaming/ui/LiveStreamingCoachScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/streaming/RoomLayoutActivity.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/MemberStreamingCamera.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/StreamingCamera.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/StreamingNav.kt
  LivOnFront/mobile/app/src/main/res/drawable/off_sound.xml
  LivOnFront/mobile/app/src/main/res/drawable/on_mic.xml
  LivOnFront/mobile/app/src/main/res/drawable/on_video.xml
Due: none

[back] fix: 내 정보 조회 API에 조직명 추가
  LivOnBack/src/main/java/com/s406/livon/domain/user/dto/response/MyInfoResponseDto.java
  LivOnBack/src/main/java/com/s406/livon/domain/user/service/UserService.java
Due: Deploy BE

[front] feat: 에약하기선택 화면 생ì ë및 공통 ë레이아웃 수정
  LivOnFront/mobile/app/src/main/java/com/livon/app/MainActivity.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/data/repository/DummyHomeRepository.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/domain/model/UpComing.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/domain/repository/HomeRepository.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/home/ui/MemberHomeScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/home/vm/MemberHomeViewModel.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/ReservationModeSelectScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/CommonSignUpScreenA.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/CommonSignUpScreenB.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/MemberTypeSelectScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/RoleSelectScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/navigation/AppNavGraph.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/navigation/CoachNavGraph.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/navigation/MemberNavGraph.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/ChoiceButtonCard.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/PrimaryButton.kt
Due: none

[front] feat: choicebutton ãã text 수정
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/HealthInfoConditionScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/HealthInfoHeightScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/HealthInfoMedicationScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/HealthInfoPainDiscomfortScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/HealthInfoSleepQualityScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/HealthInfoStressScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/HealthInfoWeightScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/LifestyleActivityLevelScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/LifestyleAlcoholIntakeScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/LifestyleCaffeineIntakeScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/LifestyleSleepDurationScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/LifestyleSmokingScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/ReservationModeSelectScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/CommonSignUpScreenB.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/ChoiceButtonCard.kt
Due: none
