Repository Slo1024/ssafy-livon-ai-healthcoach: changes, and which Jenkins stages are due for each by the changed paths.
All: Deploy BE, Deploy FE

Path conditions:
  Deploy BE: any of: LivOnBack/**
  Deploy FE: any of: LivOnFront/web/**

[infra] test: BE - build test
  LivOnBack/src/main/java/com/s406/livon/LivOnApplication.java
Due: Deploy BE

[back] fix : repository PK 수정, 주석 수정
  LivOnBack/src/main/java/com/s406/livon/domain/coach/controller/CoachController.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/repository/ConsultationRepository.java
Due: Deploy BE

[infra] fix: jenkinsfile - 서비스 이름 제거(be, fe), test: BE - build test
  Jenkinsfile
  LivOnBack/src/main/java/com/s406/livon/LivOnApplication.java
Due: Deploy BE

[front] feat:ã 공용 Compose 컴포넌트 1차 구현 (ã Button-Input-TopBar-Text 등)
  LivOnFront/mobile/.idea/inspectionProfiles/Project_Default.xml
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/CompanySelelctScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/EmailSetupScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/EmailVerifyScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/GenderSelectScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/MemberTypeSelectScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/NicknameScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/PasswordSetupScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/RoleSelectScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/ChoiceCardButton.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/Clickable.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/CompanySelectCard.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/PrimaryButton.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/SurveyOption.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/UnClickable.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/input/CodeInput.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/input/TextField.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/overlay/TopBar.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/overlay/TopOverlay.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/text/Texts.kt
Due: none

[infra] test: BE, FE - build test
  Jenkinsfile
  LivOnBack/src/main/java/com/s406/livon/LivOnApplication.java
  LivOnFront/web/public/index.html
Due: Deploy BE, Deploy FE

[infra] fix: dockerfile - 멀티스테이지 이름 수정, test: BE - build test
  LivOnBack/src/main/java/com/s406/livon/LivOnApplication.java
  LivOnFront/web/Dockerfile
Due: Deploy BE, Deploy FE

[infra] fix: dockerfile - circular dependency 해결, test: BE - build test
  LivOnBack/src/main/java/com/s406/livon/LivOnApplication.java
  LivOnFront/web/Dockerfile
Due: Deploy BE, Deploy FE

[infra] fix: dockerfile - 멀티스테이지 빌드 적용, test: BE - build test
  LivOnFront/web/Dockerfile
  LivOnInfra/docker-compose.prod.yml
Due: Deploy FE

[infra] fix: typescript 버전 다운그레이드
  LivOnFront/web/package.json
Due: Deploy FE

[infra] feat: ChatMessage.tsx 추가 - TS1208: 'ChatMessage.tsx' cannot be compiled under '--isolatedModules'
  LivOnFront/web/Dockerfile
  LivOnFront/web/src/components/streaming/chat/ChatMessage.tsx
Due: Deploy FE

[infra] feat: isolated-modules-controls 추가 - TS1208: ~~~.tsx cannot be compiled under '--isolatedModules'
  LivOnFront/web/src/components/streaming/controls/CameraButton.tsx
  LivOnFront/web/src/components/streaming/controls/ControlBar.tsx
  LivOnFront/web/src/components/streaming/controls/EndButton.tsx
  LivOnFront/web/src/components/streaming/controls/MicButton.tsx
  LivOnFront/web/src/components/streaming/controls/MoreButton.tsx
  LivOnFront/web/src/components/streaming/controls/ScreenShareButton.tsx
Due: Deploy FE

[back] fix: consultation 연관관계 올바르게 설정
  LivOnBack/src/main/java/com/s406/livon/domain/coach/entity/Consultation.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/repository/ConsultationRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/service/CoachService.java
Due: Deploy BE

[infra] fix: isolated-modules-controls 삭제
  LivOnFront/web/src/components/streaming/chat/ChatMessage.tsx
  LivOnFront/web/src/components/streaming/controls/CameraButton.tsx
  LivOnFront/web/src/components/streaming/controls/ControlBar.tsx
  LivOnFront/web/src/components/streaming/controls/EndButton.tsx
  LivOnFront/web/src/components/streaming/controls/MicButton.tsx
  LivOnFront/web/src/components/streaming/controls/MoreButton.tsx
  LivOnFront/web/src/components/streaming/controls/ScreenShareButton.tsx
  LivOnFront/web/src/components/streaming/overlays/ConnectionStatus.tsx
  LivOnFront/web/src/components/streaming/overlays/ToastNotice.tsx
  LivOnFront/web/src/components/streaming/video/ScreenShareView.tsx
  LivOnFront/web/src/components/streaming/video/VideoGrid.tsx
Due: Deploy FE

[infra] feat: isolated-modules-controls 추가 - TS1208: SignupCompletePage.tsx cannot be compiled under '--isolatedModules'
  LivOnFront/web/src/pages/auth/SignupPage.tsx
Due: Deploy FE

[infra] feat: isolated-modules-controls 추가 - TS1208: SignupPage, SignupCompletePage.tsx cannot be compiled under '--isolatedModules'
  LivOnFront/web/package.json
  LivOnFront/web/src/pages/auth/SignupCompletePage.tsx
  LivOnFront/web/src/pages/auth/SignupPage.tsx
Due: Deploy FE

[infra] feat: isolated-modules-controls 추가 - TS1208: /web/src/pages/coach/**.tsx cannot be compiled under '--isolatedModules'
  LivOnFront/web/src/pages/coach/ClassListPage.tsx
  LivOnFront/web/src/pages/coach/ClassSetupPage.tsx
  LivOnFront/web/src/pages/coach/MyPageCoachInfo.tsx
  LivOnFront/web/src/pages/coach/MyPageCoachVerification.tsx
  LivOnFront/web/src/pages/coach/PastReservationPage.tsx
  LivOnFront/web/src/pages/coach/StreamingPage.tsx
Due: Deploy FE

[BE] test: BE - build test
  LivOnBack/src/main/java/com/s406/livon/LivOnApplication.java
Due: Deploy BE

[BE] feat : 관계형DB 채팅구현
  .idea/gradle.xml
  LivOnBack/build.gradle
  LivOnBack/src/main/java/com/s406/livon/domain/coach/entity/Consultation.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/repository/ConsultationRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/controller/GoodsChatMessageController.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/controller/GoodsChatRoomController.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/document/GoodsChatMessage.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/dto/request/GoodsChatMessageRequest.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/dto/response/GoodsChatMessageResponse.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/dto/response/GoodsChatRoomResponse.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/dto/response/GoodsChatRoomSummaryResponse.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/entity/GoodsChatMessage.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/entity/GoodsChatPart.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/entity/GoodsChatPartId.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/entity/GoodsChatRoom.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/entity/MessageType.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/event/GoodsChatEvent.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/event/GoodsChatEventHandler.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/event/GoodsChatEventPublisher.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/repository/GoodsChatMessageRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/repository/GoodsChatMessageRepositoryCustom.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/repository/GoodsChatMessageRepositoryCustomImpl.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/repository/GoodsChatPartRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/repository/GoodsChatRoomRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatCacheManager.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatMessageService.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatService.java
  LivOnBack/src/main/java/com/s406/livon/global/config/RedisRepositoryConfig.java
  LivOnBack/src/main/java/com/s406/livon/global/config/S3Config.java
  LivOnBack/src/main/java/com/s406/livon/global/config/WebConfig.java
  LivOnBack/src/main/java/com/s406/livon/global/config/WebSocketConfig.java
  LivOnBack/src/main/java/com/s406/livon/global/web/response/PageResponse.java
  LivOnBack/src/test/java/com/s406/livon/GoodsChatMessagePerformanceTest.java
Due: Deploy BE

[back] fix: chat service 타입 수정
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatService.java
Due: Deploy BE

[infra] fix: redis 인증- password 추가
  LivOnBack/src/main/java/com/s406/livon/global/config/RedissonConfig.java
Due: Deploy BE

[infra] test: test
  LivOnBack/src/main/java/com/s406/livon/LivOnApplication.java
Due: Deploy BE

[front] feat: 메인 페이지 기능 구현
  LivOnFront/web/package-lock.json
  LivOnFront/web/package.json
  LivOnFront/web/src/App.tsx
  LivOnFront/web/src/assets/images/Kakao.png
  LivOnFront/web/src/assets/images/Naver logo.png
  LivOnFront/web/src/assets/images/appdownload.png
  LivOnFront/web/src/assets/images/coachverification1.png
  LivOnFront/web/src/assets/images/coachverification2.png
  LivOnFront/web/src/assets/images/google-icon.png
  LivOnFront/web/src/assets/images/mainpage1.png
  LivOnFront/web/src/assets/images/mainpage2.png
  LivOnFront/web/src/assets/images/visibility.png
  LivOnFront/web/src/assets/images/visibility_off.png
  LivOnFront/web/src/components/layout/Footer.tsx
  LivOnFront/web/src/components/layout/Header.tsx
  LivOnFront/web/src/components/layout/Layout.tsx
  LivOnFront/web/src/pages/auth/LoginPage.tsx
  LivOnFront/web/src/pages/auth/SignupPage.tsx
  LivOnFront/web/src/pages/main/AboutPage.tsx
  LivOnFront/web/src/pages/main/DownloadPage.tsx
  LivOnFront/web/src/pages/main/HomePage.tsx
  LivOnFront/web/src/pages/main/TermsPage.tsx
  LivOnFront/web/src/pages/notfound/NotFoundPage.tsx
  LivOnFront/web/src/react-app-env.d.ts
Due: Deploy FE

[front] feat: 공용 컴포넌트 수정 및 업데ì이트
  LivOnFront/mobile/.idea/inspectionProfiles/Project_Default.xml
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/CommonSignUpScreenB.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/CommonSignUpScreenA.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/ChoiceCardButton.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/CompanySelectCard.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/PrimaryButton.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/SurveyOption.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/input/CodeInput.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/input/LivonTextField.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/input/TextField.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/overlay/TopBar2.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/text/Texts.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/preview/PreviewKit.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/theme/Spacing.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/theme/TextStyes.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/theme/Type.kt
  LivOnFront/mobile/app/src/main/res/drawable/ic_back.xml
Due: none

[front] feat: 공통 컴ㄴ포넌트 수정 및 업데이트 3차
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/ChoiceButtonCard.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/ChoiceCardButton.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/input/CodeInput.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/input/LivonTextField.kt
Due: none

[front] feat: 로그인 화면 및 메인 페이지 기능 구현
  LivOnFront/web/src/pages/auth/LoginPage.tsx
  LivOnFront/web/src/pages/main/HomePage.tsx
Due: Deploy FE

[back] wip: 코치의 클래스 관련 CRUD API 구현중
  LivOnBack/src/main/java/com/s406/livon/domain/coach/controller/GroupConsultationController.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/dto/request/GroupConsultationCreateRequestDto.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/dto/request/GroupConsultationUpdateRequestDto.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/dto/response/GroupConsultationDetailResponseDto.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/dto/response/GroupConsultationListResponseDto.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/entity/Consultation.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/entity/GroupConsultation.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/entity/Participant.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/repository/GroupConsultationRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/repository/ParticipantRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/service/GroupConsultationService.java
Due: Deploy BE

[back] wip: class CRUD API 구현, 테스트 중
  LivOnBack/src/main/java/com/s406/livon/domain/coach/controller/GroupConsultationController.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/dto/response/GroupConsultationDetailResponseDto.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/repository/GroupConsultationRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/repository/ParticipantRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/coach/service/GroupConsultationService.java
  LivOnBack/src/main/java/com/s406/livon/domain/user/dto/request/CoachInfoRequestDto.java
  LivOnBack/src/main/java/com/s406/livon/domain/user/entity/CoachInfo.java
  LivOnBack/src/main/java/com/s406/livon/domain/user/entity/User.java
Due: Deploy BE

[back] wip: CRUD API 기본 테스트 완료
  LivOnBack/src/main/java/com/s406/livon/domain/coach/service/GroupConsultationService.java
  LivOnBack/src/main/java/com/s406/livon/global/web/response/code/status/ErrorStatus.java
Due: Deploy BE

[infra] feat: redis config password 설정 추가, feat: isolated-modules-controls 추가 - TS1208: /web/src/pages/coach/**.tsx cannot be compiled under '--isolatedModules'
  LivOnBack/src/main/java/com/s406/livon/global/config/RedisRepositoryConfig.java
  LivOnBack/src/main/java/com/s406/livon/global/config/RedissonConfig.java
  LivOnFront/web/src/pages/coach/ClassListPage.tsx
  LivOnFront/web/src/pages/coach/ClassSetupPage.tsx
  LivOnFront/web/src/pages/coach/MyPageCoachInfo.tsx
  LivOnFront/web/src/pages/coach/MyPageCoachVerification.tsx
  LivOnFront/web/src/pages/coach/PastReservationPage.tsx
  LivOnFront/web/src/pages/coach/StreamingPage.tsx
Due: Deploy BE, Deploy FE

[front] feat: 웹 메인 화면 수정 및 회원가입 완료·코치 인증 여부 및 고객센터 자주 묻는 질문 화면 구현
  LivOnFront/web/src/assets/images/profile_picture.png
  LivOnFront/web/src/components/layout/Footer.tsx
  LivOnFront/web/src/components/layout/Header.tsx
  LivOnFront/web/src/hooks/useAuth.ts
  LivOnFront/web/src/pages/auth/SignupCompletePage.tsx
  LivOnFront/web/src/pages/auth/SignupPage.tsx
  LivOnFront/web/src/pages/coach/MyPageCoachVerification.tsx
  LivOnFront/web/src/pages/coach/MyPageInfoPage.tsx
  LivOnFront/web/src/pages/coach/MyPageVerificationPage.tsx
  LivOnFront/web/src/pages/coach/ReservationListPage.tsx
  LivOnFront/web/src/pages/main/AboutPage.tsx
  LivOnFront/web/src/pages/main/DownloadPage.tsx
  LivOnFront/web/src/pages/main/HomePage.tsx
  LivOnFront/web/src/pages/main/TermsPage.tsx
  LivOnFront/web/src/pages/support/FAQPage.tsx
  LivOnFront/web/src/pages/support/InquiryPage.tsx
  LivOnFront/web/src/routes/AppRouter.tsx
  LivOnFront/web/src/types/auth.ts
Due: Deploy FE

feat : mongoDB
  .idea/jarRepositories.xml
  LivOnBack/build.gradle
  LivOnBack/src/main/java/com/s406/livon/global/config/MongoConfig.java
Due: Deploy BE

[Back] feat : 채팅조회 mongoDB로 마이그레이션
  LivOnBack/src/main/java/com/s406/livon/LivOnApplication.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/controller/GoodsChatRoomController.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/document/GoodsChatMessage.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/dto/response/GoodsChatMessageResponse.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/entity/GoodsChatMessage.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/entity/GoodsChatPart.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/repository/GoodsChatMessageRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/repository/GoodsChatMessageRepositoryCustom.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/repository/GoodsChatPartRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatCacheManager.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatMessageService.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatService.java
  LivOnBack/src/main/java/com/s406/livon/global/aop/DistributedLockAop.java
  LivOnBack/src/main/java/com/s406/livon/global/config/JpaConfig.java
  LivOnBack/src/main/java/com/s406/livon/global/config/MongoConfig.java
  LivOnBack/src/main/java/com/s406/livon/global/config/RedisRepositoryConfig.java
  LivOnBack/src/main/java/com/s406/livon/global/util/DateToLocalDateTimeKstConverter.java
  LivOnBack/src/main/java/com/s406/livon/global/util/LocalDateTimeToDateKstConverter.java
Due: Deploy BE

[front] feat: openvidu ì이식(로컬)
  LivOnFront/mobile/.cursorrules
  LivOnFront/mobile/app/build.gradle.kts
  LivOnFront/mobile/app/src/main/AndroidManifest.xml
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/streaming/ui/ConfigureUrlsScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/streaming/ui/InsertToRoom.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/streaming/ui/JointRoomScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/streaming/ui/LiveStreamingCoachScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/streaming/ui/ParticipantVideoView.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/streaming/vm/LiveSteamingViewModel.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/streaming/ConfigureUrlsActivity.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/streaming/MainActivity.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/streaming/ParticipantAdapter.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/streaming/ParticipantViewHolder.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/streaming/RoomLayoutActivity.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/streaming/RoomUiState.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/streaming/TokenModel.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/streaming/TrackInfo.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/streaming/Urls.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/CoachStreamingHeader.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/PreviewComponent.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/StreaminCamera.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/streaming/StreamingCamera.kt
  LivOnFront/mobile/app/src/main/res/values/strings.xml
  LivOnFront/mobile/app/src/main/res/xml/network_security_config.xml
  LivOnFront/mobile/build.gradle.kts
  LivOnFront/mobile/gradle/libs.versions.toml
  LivOnFront/mobile/settings.gradle.kts
Due: none

[Back] feat : 채팅조회 mongoDB로 마이그레이션 JPA와 MongoDB 트랜잭션 분기 Todo: mongoDB 트랜잭션, JPA 트랜잭션 분리, 사용자 조회 intercepter 적용하여 효율 강화, 캐싱
  LivOnBack/src/main/java/com/s406/livon/global/config/JpaConfig.java
Due: Deploy BE
