Repository Slo1024/ssafy-livon-ai-healthcoach: changes, and which Jenkins stages are due for each by the changed paths.
All: Deploy BE, Deploy FE

Path conditions:
  Deploy BE: any of: LivOnBack/**
  Deploy FE: any of: LivOnFront/web/**

[front] feat:개인예약화면(코치리스트보기) 구현
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/CoachListScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/card/CoachCard.kt
  LivOnFront/mobile/app/src/main/res/drawable/ic_noprofile.xml
  LivOnFront/mobile/app/src/main/res/drawable/ic_profileedit.xml
Due: none

[front] feat: 고객센터 화면 및 마이페이지 코치 정보 수정 화면 구현
  LivOnFront/web/src/components/common/Button.tsx
  LivOnFront/web/src/components/common/Dropdown.tsx
  LivOnFront/web/src/components/common/Input.tsx
  LivOnFront/web/src/components/common/Modal.tsx
  LivOnFront/web/src/components/layout/Header.tsx
  LivOnFront/web/src/constants/routes.ts
  LivOnFront/web/src/index.tsx
  LivOnFront/web/src/pages/auth/SignupPage.tsx
  LivOnFront/web/src/pages/coach/MyPageInfoPage.tsx
  LivOnFront/web/src/pages/coach/MyPageVerificationPage.tsx
  LivOnFront/web/src/pages/support/FAQPage.tsx
  LivOnFront/web/src/pages/support/InquiryPage.tsx
  LivOnFront/web/src/routes/AppRouter.tsx
Due: Deploy FE

[front] ãrefactor: 코치 카드 컴포넌트 리팩토링
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/CoachListScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/CommonScreenC.kt
Due: none

[Back] feat : 채팅 조회 redis 캐싱 처리
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatCacheManager.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatMessageService.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatService.java
  LivOnBack/src/main/java/com/s406/livon/global/config/RedisRepositoryConfig.java
Due: Deploy BE

[Back] feat : chatHandler처리
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/controller/GoodsChatMessageController.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/controller/GoodsChatRoomController.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/event/ChatHandler.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatService.java
  LivOnBack/src/main/java/com/s406/livon/global/config/WebSocketConfig.java
Due: Deploy BE

[Back] feat : JwtTokenProvider 수정 및 webSocket 접속시 유저정보 세션관리
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/controller/GoodsChatMessageController.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/event/ChatHandler.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatMessageService.java
  LivOnBack/src/main/java/com/s406/livon/domain/user/service/CustomUserDetailsService.java
  LivOnBack/src/main/java/com/s406/livon/global/security/jwt/JwtTokenProvider.java
Due: Deploy BE

[Back] feat : JwtTokenProvider 수정 및 webSocket 접속시 유저정보 세션관리
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/controller/GoodsChatMessageController.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/event/ChatHandler.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatService.java
  LivOnBack/src/main/java/com/s406/livon/global/security/jwt/JwtTokenProvider.java
Due: Deploy BE

[Back] feat : sub 예외처리 완료
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/controller/GoodsChatMessageController.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/controller/GoodsChatRoomController.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/dto/response/GoodsChatMessageResponse.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/event/ChatHandler.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/repository/GoodsChatPartRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/repository/GoodsChatRoomRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatService.java
Due: Deploy BE

[infra] fix: ProtectedRoute 안 훅(useAuth, useLocation) 호출 - 우회 플래그 때문에 조건부 실행이 되어 ESLint 규칙 위배 수정
  LivOnFront/web/src/routes/ProtectedRoute.tsx
Due: Deploy FE

[infra] test: nginx 설정 확인
  LivOnFront/web/public/index.html
Due: Deploy FE

[infra] fix: jenkinsfile - cleanWS() 추가, test: nginx ssl 설정 확인
  Jenkinsfile
  LivOnFront/web/public/index.html
Due: Deploy FE

[infra] fix: nginx.dev.conf 폴더 삭제(EC2), test: nginx ssl 설정 확인
  LivOnFront/web/public/index.html
Due: Deploy FE

[infra] fix: nginx.dev,prod.conf 경로 변경, test: nginx ssl 설정 확인
  Jenkinsfile
  LivOnFront/web/public/index.html
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
  LivOnInfra/nginx.dev.d/nginx.dev.conf
  LivOnInfra/nginx.prod.d/nginx.prod.conf
Due: Deploy FE

[infra] fix: nginx.dev,prod.conf 경로 변경 및 파일 이름 수정 - default 추가, test: nginx ssl 설정 확인
  LivOnFront/web/public/index.html
  LivOnInfra/nginx.dev.default.conf
  LivOnInfra/nginx.prod.default.conf
Due: Deploy FE

[infra] fix: docker compose file nginx.dev,prod.conf 경로 수정 - default 추가, test: nginx ssl 설정 확인
  LivOnFront/web/public/index.html
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
Due: Deploy FE

[Back] feat : chat 예외처리
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/controller/GoodsChatRoomController.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/document/GoodsChatMessage.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/entity/GoodsChatRoom.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatMessageService.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatService.java
  LivOnBack/src/main/java/com/s406/livon/global/web/response/code/status/ErrorStatus.java
Due: Deploy BE

[Back] feat : chat 예외처리
  LivOnBack/src/main/java/com/s406/livon/global/error/handler/ChatHandler.java
Due: Deploy BE

[infra] fix: jenkins - livon-project-pipeline-dev 삭제, test: nginx ssl 설정 확인
  LivOnFront/web/public/index.html
Due: Deploy FE

[infra] fix: docker compose file nginx.dev,prod.conf 경로 수정, nginx config 파일 경로 수정, test: nginx ssl 설정 확인
  LivOnFront/web/public/index.html
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
  LivOnInfra/nginx.dev/default.conf
  LivOnInfra/nginx.prod/default.conf
Due: Deploy FE

[infra] fix: docker compose file nginx.dev,prod.conf - dir/dir 매핑, test: nginx ssl 설정 확인
  LivOnFront/web/public/index.html
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
Due: Deploy FE

[infra] fix: docker compose file nginx.dev,prod.conf - 경로 수정, test: nginx ssl 설정 확인
  Jenkinsfile
  LivOnFront/web/public/index.html
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
Due: Deploy FE

[infra] test: nginx ssl 설정 확인
  Jenkinsfile
  LivOnFront/web/public/index.html
Due: Deploy FE

[infra] test: nginx ssl 설정 확인 및 경로 확인
  Jenkinsfile
  LivOnFront/web/public/index.html
Due: Deploy FE

[infra] fix: jenkinsfile - Nginx config 복사 후 nginx 컨테이너 실행, test: nginx ssl 설정 확인 및 경로 확인
  Jenkinsfile
  LivOnFront/web/public/index.html
  LivOnInfra/nginx.dev.default.conf
  LivOnInfra/nginx.prod.default.conf
Due: Deploy FE

[infra] test: nginx ssl 설정 확인 및 경로 확인
  LivOnFront/web/public/index.html
Due: Deploy FE

[Back] feat : 채팅방 입장 구현
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/controller/GoodsChatRoomController.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/entity/GoodsChatPart.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/entity/GoodsChatRoom.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/repository/GoodsChatRoomRepository.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatService.java
  LivOnBack/src/main/java/com/s406/livon/global/web/response/code/status/ErrorStatus.java
Due: Deploy BE

[infra] test: nginx ssl 설정 확인 및 경로 확인, dir 복사
  Jenkinsfile
  LivOnFront/web/public/index.html
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
Due: Deploy FE

[infra] test: nginx ssl 설정 확인 및 경로 확인, dir 복사, fix: nginx config 파일 이름 수정, jenkinsfile - nginx config 파일 경로 수정
  Jenkinsfile
  LivOnInfra/nginx.dev/default.conf
  LivOnInfra/nginx.prod/default.conf
Due: none

[infra] test: nginx ssl 설정 확인
  LivOnFront/web/public/index.html
Due: Deploy FE

[infra] test: nginx ssl 설정 확인 및 경로 확인, dir 복사 후 default.conf 파일 추가 및 복사
  Jenkinsfile
  LivOnFront/web/public/index.html
Due: Deploy FE

[infra] test: nginx ssl 설정 확인 및 경로 확인, fix: nginx config 파일 이름 수정, jenkinsfile - nginx config 파일 경로 수정
  Jenkinsfile
  LivOnFront/web/public/index.html
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
  LivOnInfra/nginx.dev.default.conf
  LivOnInfra/nginx.prod.default.conf
Due: Deploy FE

[front] refactor: 코치 리스트 화면 기능 수정
  LivOnFront/mobile/.idea/deploymentTargetSelector.xml
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/CoachListScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/CommonScreenC.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/card/CoachCard.kt
Due: none

[infra] test: nginx ssl 설정 확인, fix: jenkinsfile - 오타 수정
  Jenkinsfile
  LivOnFront/web/public/index.html
Due: Deploy FE

[infra] fix: nginx 설정 수정, jenkinsfile/docker compose/nginx config
  Jenkinsfile
  LivOnFront/web/public/index.html
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
  LivOnInfra/nginx.dev.conf
  LivOnInfra/nginx.prod.conf
Due: Deploy FE

[infra] fix: nginx 설정 수정, docker compose - volume 수정
  LivOnFront/web/public/index.html
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
Due: Deploy FE

[infra] fix: nginx 설정 수정, jenkinsfile/docker compose
  Jenkinsfile
  LivOnFront/web/public/index.html
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
Due: Deploy FE

[infra] fix: nginx 설정 수정, jenkinsfile
  Jenkinsfile
  LivOnFront/web/public/index.html
Due: Deploy FE
