Repository Slo1024/ssafy-livon-ai-healthcoach: changes, and which Jenkins stages are due for each by the changed paths.
All: Deploy BE, Deploy FE

Deploy BE:
              steps {
                  script {
                      echo 'BE changes detected. Deploying backend services.'
                      def IS_PROD = BRANCH_NAME == 'master'
  ...

Deploy FE:
              steps {
                  script {
                      echo '‚úÖFE changes detected. Deploying frontend and nginx.'
                      def IS_PROD = BRANCH_NAME == 'master'
  ...

[Back] feat : 웹소켓 접속자 체크
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/controller/GoodsChatRoomController.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/event/ChatHandler.java
  LivOnBack/src/main/java/com/s406/livon/domain/goodsChat/service/GoodsChatService.java
Due: Deploy BE

[infra] fix: nginx 설정 수정, jenkinsfile/docker compose file
  Jenkinsfile
  LivOnFront/web/public/index.html
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
Due: Deploy FE

[infra] fix: nginx 설정 수정, feat: nginx dockerfiles 생성 - dev, prod
  LivOnFront/web/public/index.html
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/nginx/Dockerfile.dev
  LivOnInfra/nginx/Dockerfile.prod
  LivOnInfra/nginx/nginx.dev.conf
  LivOnInfra/nginx/nginx.prod.conf
Due: Deploy FE

[infra] test: FE - build test, nginx 설정 확인
  LivOnFront/web/public/index.html
Due: Deploy FE

[infra] test: FE - build test, nginx 설정 확인 dev, prod
  LivOnFront/web/public/index.html
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
Due: Deploy FE

[infra] Test: android build test
  Jenkinsfile
  LivOnFront/mobile/app/src/main/java/com/livon/app/MainActivity.kt
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
  LivOnInfra/downloads/.gitignore
  LivOnInfra/nginx/nginx.dev.conf
  LivOnInfra/nginx/nginx.prod.conf
Due: none

[infra] Test: android build test
  Jenkinsfile
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
  LivOnInfra/nginx/nginx.dev.conf
  LivOnInfra/nginx/nginx.prod.conf
Due: none

[infra] Test: android build test
  LivOnFront/mobile/app/src/main/java/com/livon/app/MainActivity.kt
Due: none

[infra] Test: android build test, fix: jenkinsfile - 안드로이드 SDK가 이미 설치된 별도의 도커 이미지에서 실행하도록 변경
  Jenkinsfile
  LivOnFront/mobile/app/src/main/java/com/livon/app/MainActivity.kt
Due: none

[infra] Test: android build test, jenkins 컨테이너 내부에 Docker CLI 도구들을 설치
  LivOnFront/mobile/app/src/main/java/com/livon/app/MainActivity.kt
Due: none

[infra] Test: android build test
  Jenkinsfile
  LivOnFront/mobile/app/src/main/java/com/livon/app/MainActivity.kt
Due: none

[infra] Test: android build test
  Jenkinsfile
Due: none

[infra] Test: android build test, image 'circuslabs/android-sdk:34-jdk17-latest' 수정
  Jenkinsfile
  LivOnFront/mobile/app/src/main/java/com/livon/app/MainActivity.kt
Due: none

[infra] Test: android build test, image 'reactivecircus/android-sdk:android-34-jdk17' 수정
  Jenkinsfile
  LivOnFront/mobile/app/src/main/java/com/livon/app/MainActivity.kt
Due: none

[infra] fix: Nginx 설정에 /download 라우트 추가 및 수정
  LivOnInfra/nginx/nginx.dev.conf
  LivOnInfra/nginx/nginx.prod.conf
Due: none

[infra] feat: docker-compose 다운로드 볼륨 마운트 추가
  LivOnInfra/docker-compose.dev.yml
  LivOnInfra/docker-compose.prod.yml
Due: none

[infra] feat: 빌드 산출물 → /download 자동화 (Jenkinsfile 단계 추가)
  Jenkinsfile
Due: none

[infra] test: apk build test
  LivOnFront/mobile/app/src/main/java/com/livon/app/MainActivity.kt
Due: none

[infra] fix: illegal string body character after dollar sign 해결
  Jenkinsfile
Due: none

[infra] feat: (1) SDK 설치 & 환경변수 지정 → (2) local.properties 생성 → (3) 필요한 패키지 설치
  Jenkinsfile
Due: none

[infra] fix: jenkinsfile - SDK 위치를 Jenkins 홈으로 변경
  Jenkinsfile
Due: none

[infra] fix: apk 다운로드 페이지 수정
  LivOnFront/web/src/pages/main/DownloadPage.tsx
Due: Deploy FE

[infra] fix: apk 다운로드 페이지 수정, test: FE build test
  LivOnFront/web/public/index.html
Due: Deploy FE

[front] chore: Compose 화면 구조 개선 및 Gradle 환경 정리
  LivOnFront/mobile/app/build.gradle.kts
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/shared/auth/ui/CommonScreenC.kt
  LivOnFront/mobile/gradle/libs.versions.toml
Due: none

[front] feat: 각 5개의 건강정보 및 생활습관 설문 파일 1개씩으로 줄임
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/HealthInfoConditionScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/HealthInfoMedicationScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/HealthInfoPainDiscomfortScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/HealthInfoSleepQualityScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/HealthInfoStressScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/HealthSurveyScreens.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/LifestyleActivityLevelScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/LifestyleAlcoholIntakeScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/LifestyleCaffeineIntakeScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/LifestyleSleepDurationScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/LifestyleSmokingScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/auth/ui/LifestyleSurveyScreen.kt
Due: none

[front] feat: 코치 상세 화면에서 날짜와 시ê간 선í택 UI 분리
  LivOnFront/mobile/.idea/copilot.data.migration.agent.xml
  LivOnFront/mobile/.idea/copilot.data.migration.ask.xml
  LivOnFront/mobile/.idea/copilot.data.migration.ask2agent.xml
  LivOnFront/mobile/.idea/copilot.data.migration.edit.xml
  LivOnFront/mobile/app/build.gradle.kts
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/home/ui/MemberHomeRoute.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/home/ui/MemberHomeScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/CoachModels.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/CoachDetailScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/CoachListScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/calendar/CalendarMonth.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/modal/Modal1.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/time/TimeGrid.kt
Due: none

[front] feat: 예약 플로 및 공용 컴포넌트 구현
  LivOnFront/mobile/app/src/main/java/com/livon/app/data/remote/dto/Dtos.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/data/remote/mapper/Mappers.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/domain/model/DomainModels.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/ClassReservationScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/CoachDetailScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/CoachListScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/QnASubmitScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/HomeNavBar.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/calendar/CalendarMonth.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/card/ClassCard.kt
  LivOnFront/mobile/app/src/main/res/drawable/ic_calendar.xml
  LivOnFront/mobile/app/src/main/res/drawable/ic_check.xml
  LivOnFront/mobile/app/src/main/res/drawable/ic_checkfilled.xml
  LivOnFront/mobile/app/src/main/res/drawable/ic_classphoto.xml
  LivOnFront/mobile/app/src/main/res/drawable/ic_home.xml
  LivOnFront/mobile/app/src/main/res/drawable/ic_homefilled.xml
  LivOnFront/mobile/app/src/main/res/drawable/ic_person.xml
  LivOnFront/mobile/app/src/main/res/drawable/ic_personblack.xml
  LivOnFront/mobile/app/src/main/res/drawable/ic_personblackfilled.xml
  LivOnFront/mobile/app/src/main/res/drawable/ic_reservation.xml
  LivOnFront/mobile/app/src/main/res/drawable/ic_reservationfilled.xml
Due: none

[front] featrefactor: í화면 수정
  LivOnFront/mobile/app/build.gradle.kts
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/coach/auth/ui/CoachInfoAffiliationScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/ClassReservationScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/QnASubmitScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/HomeNavBar.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/calendar/CalendarMonth.kt
  LivOnFront/mobile/app/src/main/res/drawable/ic_checkfilled.xml
  LivOnFront/mobile/app/src/main/res/drawable/ic_homefilled.xml
  LivOnFront/mobile/app/src/main/res/drawable/ic_personblackfilled.xml
  LivOnFront/mobile/app/src/main/res/drawable/ic_reservationfilled.xml
  LivOnFront/mobile/gradle/libs.versions.toml
Due: none

[front] refactorr: 스크롤 기능 및 수정
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/CoachDetailScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/QnASubmitScreen.kt
Due: none

[front] refactor: 메인 화면 수정 및 내비바 수정
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/home/ui/MemberHomeRoute.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/ReservationStatusScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/HomeNavBar.kt
Due: none

[front] feat: 마이페이지 예약받지 않는 날 화면 구현 및 현재/지난 예약 현황 화면 및 클래스 목록/클래스 개설 화면 및 스트리밍 화면 UI 구현
  LivOnFront/web/src/assets/images/video_off.png
  LivOnFront/web/src/components/common/Button.tsx
  LivOnFront/web/src/components/common/Dropdown.tsx
  LivOnFront/web/src/components/common/Input.tsx
  LivOnFront/web/src/components/common/Modal.tsx
  LivOnFront/web/src/components/layout/Header.tsx
  LivOnFront/web/src/components/layout/Layout.tsx
  LivOnFront/web/src/constants/routes.ts
  LivOnFront/web/src/pages/auth/LoginPage.tsx
  LivOnFront/web/src/pages/coach/ClassListPage.tsx
  LivOnFront/web/src/pages/coach/ClassSetupPage.tsx
  LivOnFront/web/src/pages/coach/MyPageInfoPage.tsx
  LivOnFront/web/src/pages/coach/MyPageVerificationPage.tsx
  LivOnFront/web/src/pages/coach/PastReservationPage.tsx
  LivOnFront/web/src/pages/coach/ReservationListPage.tsx
  LivOnFront/web/src/pages/coach/StreamingPage.tsx
  LivOnFront/web/src/pages/support/FAQPage.tsx
  LivOnFront/web/src/pages/support/InquiryPage.tsx
  LivOnFront/web/src/routes/AppRouter.tsx
Due: Deploy FE

[front] refactor: 질문 등록 화면 수정
  LivOnFront/mobile/app/src/main/java/com/livon/app/feature/member/reservation/ui/QnASubmitScreen.kt
  LivOnFront/mobile/app/src/main/java/com/livon/app/ui/component/button/PrimaryButton.kt
  LivOnFront/mobile/app/src/main/res/drawable/ic_add.xml
Due: none

[infra] feat: jenkinsfile - 빌드 성공 시 Mattermost로 알림 추가, FE test
  Jenkinsfile
  LivOnFront/web/public/index.html
Due: Deploy FE

Path conditions:
  Deploy BE: any of: LivOnBack/**
  Deploy FE: any of: LivOnFront/web/**
